workflows/wf1-daily-data-collection.json
{
  "name": "WF1 - Daily Data Collection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.intercom.io/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "per_page",
              "value": "150"
            },
            {
              "name": "updated_since",
              "value": "={{ Math.floor((Date.now() - 86400000) / 1000) }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ ($response.body.pages && $response.body.pages.next && $response.body.pages.next.starting_after) ? 'https://api.intercom.io/conversations?state=closed&per_page=150&starting_after=' + $response.body.pages.next.starting_after : '' }}",
              "limitPagesFetched": true,
              "maxRequests": 20
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Fetch Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "i3XvETOwRH8suX0M",
          "name": "Intercom API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pages = $input.all();\n\n// Flatten all paginated pages into individual conversations\nconst allConversations = [];\nfor (const page of pages) {\n  const convos = page.json.conversations || [];\n  for (const convo of convos) {\n    allConversations.push(convo);\n  }\n}\n\n// Keep ALL conversations. Tag each with _is_bot_handled based on statistics.\n// Bot-handled = no human admin replied (first_admin_reply_at is null/undefined)\nreturn allConversations.map(convo => {\n  const stats = convo.statistics;\n  const isBotHandled = !(stats &&\n    stats.first_admin_reply_at !== null &&\n    stats.first_admin_reply_at !== undefined);\n  return { json: { ...convo, _is_bot_handled: isBotHandled } };\n});"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Tag All Conversations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-convos-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7890-fabc-012345678901",
      "name": "Has Conversations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "operation": "post",
        "channel": "#chat-qa-reports",
        "text": "={{ ':warning: WF1: Collected 0 conversations from Intercom at ' + new Date().toISOString() + '. Check Intercom API connectivity.' }}",
        "otherOptions": {}
      },
      "id": "a2b3c4d5-e6f7-8901-abcd-123456789012",
      "name": "Alert Zero Conversations",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        816,
        512
      ],
      "credentials": {
        "slackApi": {
          "id": "slack_api",
          "name": "slack_api"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Split Conversations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://api.intercom.io/conversations/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Get Full Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "i3XvETOwRH8suX0M",
          "name": "Intercom API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const convo = $input.first().json;\ntry {\n  const conversationId = convo.id;\n  const createdAt = new Date(convo.created_at * 1000).toISOString();\n  const collectedAt = new Date().toISOString();\n  const status = convo.state || 'closed';\n  const intercomLink = `https://app.intercom.com/a/inbox/conversation/${conversationId}`;\n  const contact = convo.contacts?.contacts?.[0];\n  const playerId = contact?.external_id || contact?.id || 'unknown';\n  const tags = (convo.tags?.tags || []).map(t => t.name).join(', ');\n  const isBotHandled = convo._is_bot_handled === true;\n  const lines = [];\n  const firstBody = convo.conversation_message?.body;\n  if (firstBody) {\n    const ts = new Date(convo.created_at * 1000).toISOString();\n    const cleanBody = stripHtml(firstBody);\n    lines.push(`[${ts}] PLAYER: ${cleanBody || '[Image attached]'}`);\n  }\n  let agentName = isBotHandled ? 'Bot' : 'Unknown';\n  const parts = convo.conversation_parts?.conversation_parts || [];\n  for (const part of parts) {\n    const authorType = part.author?.type;\n    let role;\n    if (authorType === 'bot' || authorType === 'operator') {\n      role = 'BOT';\n    } else if (authorType === 'admin' || authorType === 'team') {\n      role = 'AGENT';\n      if (agentName === 'Unknown' && part.author?.name) agentName = part.author.name;\n    } else {\n      role = 'PLAYER';\n    }\n    const ts = new Date(part.created_at * 1000).toISOString();\n    let body = part.body ? stripHtml(part.body) : '';\n    if (!body && part.attachments?.length > 0) {\n      const attachment = part.attachments[0];\n      body = attachment.content_type?.startsWith('image/') ? '[Image attached]' : '[File attached]';\n    }\n    if (body) lines.push(`[${ts}] ${role}: ${body}`);\n  }\n  return [{ json: { conversation_id: conversationId, player_id: playerId, agent_name: agentName, transcript: lines.join('\\n'), tags, created_at: createdAt, collected_at: collectedAt, status, intercom_link: intercomLink, is_bot_handled: isBotHandled } }];\n} catch (err) { throw new Error(`Format failed for ${convo?.id}: ${err.message}`); }\nfunction stripHtml(html) {\n  if (!html) return '';\n  return html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<p>/gi, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .trim();\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Format Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://mxhfmqhniphzgmbqkymh.supabase.co/rest/v1/qa_conversations?conversation_id=eq.{{ encodeURIComponent($json.conversation_id) }}&select=conversation_id&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Check If Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1648,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || [];\nconst exists = Array.isArray(body) && body.length > 0;\nconst formatData = $('Format Transcript').item.json;\nreturn [{ json: { ...formatData, _exists: exists } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Route New vs Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json._exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        288
      ]
    },
    {
      "parameters": {
        "tableId": "qa_conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "player_id",
              "fieldValue": "={{ $json.player_id }}"
            },
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "intercom_link",
              "fieldValue": "={{ $json.intercom_link }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": "={{ $json.is_bot_handled }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Insert Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qa_conversations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $json.conversation_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": "={{ $json.is_bot_handled }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Update Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.4
      },
      "id": "a1b2c3d4-0001-0001-0001-wait400msnode",
      "name": "Wait 400ms",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        288
      ],
      "webhookId": "50b33ad5-8b6e-46bf-a226-03ab6e3b0b27"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.is_bot_handled }}",
              "value2": true
            }
          ]
        }
      },
      "id": "wf1-agent-or-bot-001",
      "name": "Agent or Bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1648,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://mxhfmqhniphzgmbqkymh.supabase.co/rest/v1/qa_bot_conversations?conversation_id=eq.{{ encodeURIComponent($json.conversation_id) }}&select=conversation_id&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "wf1-check-bot-exists-001",
      "name": "Check If Bot Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1872,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || [];\nconst exists = Array.isArray(body) && body.length > 0;\nconst formatData = $('Format Transcript').item.json;\nreturn [{ json: { ...formatData, _exists: exists } }];"
      },
      "id": "wf1-route-bot-001",
      "name": "Route Bot New vs Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._exists }}"
            }
          ]
        }
      },
      "id": "wf1-check-bot-dup-001",
      "name": "Check Bot Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2320,
        16
      ]
    },
    {
      "parameters": {
        "tableId": "qa_bot_conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "player_id",
              "fieldValue": "={{ $json.player_id }}"
            },
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "intercom_link",
              "fieldValue": "={{ $json.intercom_link }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": true
            }
          ]
        }
      },
      "id": "wf1-insert-bot-001",
      "name": "Insert Bot Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qa_bot_conversations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $json.conversation_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": true
            }
          ]
        }
      },
      "id": "wf1-update-bot-001",
      "name": "Update Bot Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversations": {
      "main": [
        [
          {
            "node": "Tag All Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag All Conversations": {
      "main": [
        [
          {
            "node": "Has Conversations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Conversations?": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Zero Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 400ms": {
      "main": [
        [
          {
            "node": "Get Full Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Conversation": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Exists": {
      "main": [
        [
          {
            "node": "Route New vs Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route New vs Existing": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Insert Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Conversations": {
      "main": [
        [],
        [
          {
            "node": "Wait 400ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript": {
      "main": [
        [
          {
            "node": "Agent or Bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent or Bot?": {
      "main": [
        [
          {
            "node": "Check If Bot Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Bot Exists": {
      "main": [
        [
          {
            "node": "Route Bot New vs Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Bot New vs Existing": {
      "main": [
        [
          {
            "node": "Check Bot Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Bot Duplicate": {
      "main": [
        [
          {
            "node": "Insert Bot Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Bot Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Bot Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bot Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}