workflows/wf1-daily-data-collection.json
{
  "updatedAt": "2026-03-19T12:29:36.215Z",
  "createdAt": "2026-03-09T09:06:35.784Z",
  "id": "ZLAeKWj3Xa3G8N4L",
  "name": "WF1 - Daily Data Collection",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -144,
        304
      ]
    },
    {
      "parameters": {
        "url": "https://api.intercom.io/conversations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "state",
              "value": "closed"
            },
            {
              "name": "per_page",
              "value": "150"
            },
            {
              "name": "updated_since",
              "value": "={{ Math.floor((Date.now() - 86400000) / 1000) }}"
            }
          ]
        },
        "options": {
          "pagination": {
            "pagination": {
              "paginationMode": "responseContainsNextURL",
              "nextURL": "={{ ($response.body.pages && $response.body.pages.next && $response.body.pages.next.starting_after) ? 'https://api.intercom.io/conversations?state=closed&per_page=150&updated_since=' + Math.floor((Date.now() - 86400000) / 1000) + '&starting_after=' + $response.body.pages.next.starting_after : '' }}",
              "limitPagesFetched": true,
              "maxRequests": 67
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Fetch Conversations",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        64,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "i3XvETOwRH8suX0M",
          "name": "Intercom API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const pages = $input.all();\n\n// Flatten all paginated pages into individual conversations\nconst allConversations = [];\nfor (const page of pages) {\n  const convos = page.json.conversations || [];\n  for (const convo of convos) {\n    allConversations.push(convo);\n  }\n}\n\n// Keep ALL conversations. Tag each with _is_bot_handled based on statistics.\n// Bot-handled = no human admin replied (first_admin_reply_at is null/undefined)\nreturn allConversations.map(convo => {\n  const stats = convo.statistics;\n  const isBotHandled = !(stats &&\n    stats.first_admin_reply_at !== null &&\n    stats.first_admin_reply_at !== undefined);\n  return { json: { ...convo, _is_bot_handled: isBotHandled } };\n});"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Tag All Conversations",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-convos-check",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a2b3c4-d5e6-7890-fabc-012345678901",
      "name": "Has Conversations?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        512,
        304
      ]
    },
    {
      "parameters": {
        "operation": "post",
        "channel": "#chat-qa-reports",
        "text": "={{ ':warning: WF1: Collected 0 conversations from Intercom at ' + new Date().toISOString() + '. Check Intercom API connectivity.' }}",
        "otherOptions": {},
        "select": "channel"
      },
      "id": "a2b3c4d5-e6f7-8901-abcd-123456789012",
      "name": "Alert Zero Conversations",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [
        816,
        512
      ],
      "credentials": {
        "slackApi": {
          "id": "slack_api",
          "name": "slack_api"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Split Conversations",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        752,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://api.intercom.io/conversations/{{ $json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Get Full Conversation",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1200,
        288
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "i3XvETOwRH8suX0M",
          "name": "Intercom API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const convo = $input.first().json;\ntry {\n  const conversationId = convo.id;\n  const createdAt = new Date(convo.created_at * 1000).toISOString();\n  const collectedAt = new Date().toISOString();\n  const status = convo.state || 'closed';\n  const intercomLink = `https://app.intercom.com/a/inbox/conversation/${conversationId}`;\n  const contact = convo.contacts?.contacts?.[0];\n  const playerId = contact?.external_id || contact?.id || 'unknown';\n  const tags = (convo.tags?.tags || []).map(t => t.name).join(', ');\n  // Detect bot-handling from full conversation parts\n  const allParts = convo.conversation_parts?.conversation_parts || [];\n  const hasHumanReply = allParts.some(p => p.author?.type === 'admin' || p.author?.type === 'team');\n  const isBotHandled = !hasHumanReply;\n  // --- Source / channel info ---\n  const source = convo.source || {};\n  const channel = source.type || null;\n  const sourceUrl = source.url || null;\n  const initiatorType = source.author?.type || null;\n  const startedBy = source.author?.name || source.author?.type || null;\n  // --- Assignment ---\n  const teamAssigned = convo.team_assignee?.name || null;\n  const priority = convo.priority || null;\n  // --- Statistics ---\n  const stats = convo.statistics || {};\n  const firstClosedAt = stats.first_close_at ? new Date(stats.first_close_at * 1000).toISOString() : null;\n  const lastClosedAt = stats.last_close_at ? new Date(stats.last_close_at * 1000).toISOString() : null;\n  const firstRepliedAt = stats.first_admin_reply_at ? new Date(stats.first_admin_reply_at * 1000).toISOString() : null;\n  const firstResponseTimeSeconds = stats.time_to_admin_reply ?? null;\n  const timeToFirstAssignmentSeconds = stats.first_assignment_to_first_admin_reply_time ?? null;\n  const numberOfReassignments = stats.count_assignments ?? 0;\n  const handlingTimeSeconds = stats.median_time_to_reply ?? null;\n  const timeToCloseSeconds = (stats.last_close_at && convo.created_at) ? stats.last_close_at - convo.created_at : null;\n  // --- Conversation rating ---\n  const rating = convo.conversation_rating || {};\n  const lastRatingUpdatedAt = rating.created_at ? new Date(rating.created_at * 1000).toISOString() : null;\n  const lastTeammateRating = rating.rating ?? null;\n  const lastTeammateRatingRemark = rating.remark || null;\n  // --- Contact location & details ---\n  const location = contact?.location || {};\n  const country = location.country || null;\n  const continent = location.continent_code || null;\n  const userType = contact?.type || null;\n  const userName = contact?.name || null;\n  const userEmail = contact?.email || null;\n  // --- Custom attributes ---\n  const customAttrs = convo.custom_attributes || {};\n  const cxScoreRating = customAttrs['CX Score'] ?? null;\n  const cxScoreExplanation = customAttrs['CX Score explanation'] ?? null;\n  const copilotUsed = customAttrs['Copilot used'] === true || customAttrs['Copilot used'] === 'true' || false;\n  // --- Fin AI / chatbot rating ---\n  const aiAgent = convo.ai_agent || {};\n  const finAiRatingUpdatedAt = aiAgent.rating_updated_at ? new Date(aiAgent.rating_updated_at * 1000).toISOString() : null;\n  const lastChatbotRating = aiAgent.rating ?? null;\n  const lastChatbotRatingRemark = aiAgent.remark || null;\n  const lastChatbotRated = aiAgent.rated_teammate?.name || null;\n  const lastChatbotRatingUpdatedAt = finAiRatingUpdatedAt;\n  // --- Transcript + derived fields ---\n  const lines = [];\n  const firstBody = convo.conversation_message?.body;\n  if (firstBody) {\n    const ts = new Date(convo.created_at * 1000).toISOString();\n    const cleanBody = stripHtml(firstBody);\n    lines.push(`[${ts}] PLAYER: ${cleanBody || '[Image attached]'}`);\n  }\n  let agentName = isBotHandled ? 'Bot' : 'Unknown';\n  let teammateReplies = 0;\n  let userReplies = 0;\n  let firstClosedBy = null;\n  let lastClosedBy = null;\n  const parts = convo.conversation_parts?.conversation_parts || [];\n  for (const part of parts) {\n    const authorType = part.author?.type;\n    if (authorType === 'admin' || authorType === 'team') {\n      teammateReplies++;\n      if (agentName === 'Unknown' && part.author?.name) agentName = part.author.name;\n    } else if (authorType === 'user' || authorType === 'lead') {\n      userReplies++;\n    }\n    if (part.part_type === 'close') {\n      if (!firstClosedBy) firstClosedBy = part.author?.name || null;\n      lastClosedBy = part.author?.name || null;\n    }\n    let role;\n    if (authorType === 'bot' || authorType === 'operator') { role = 'BOT'; }\n    else if (authorType === 'admin' || authorType === 'team') { role = 'AGENT'; }\n    else { role = 'PLAYER'; }\n    const ts = new Date(part.created_at * 1000).toISOString();\n    let body = part.body ? stripHtml(part.body) : '';\n    if (!body && part.attachments?.length > 0) {\n      const attachment = part.attachments[0];\n      body = attachment.content_type?.startsWith('image/') ? '[Image attached]' : '[File attached]';\n    }\n    if (body) lines.push(`[${ts}] ${role}: ${body}`);\n  }\n  const repliesToClose = teammateReplies + userReplies;\n  const teammateRepliedTo = userName || playerId;\n  return [{ json: {\n    conversation_id: conversationId, player_id: playerId, agent_name: agentName,\n    transcript: lines.join('\\n'), tags, created_at: createdAt, collected_at: collectedAt,\n    status, intercom_link: intercomLink, is_bot_handled: isBotHandled,\n    channel, source_url: sourceUrl, initiator_type: initiatorType, started_by: startedBy,\n    team_assigned: teamAssigned, priority,\n    first_closed_at: firstClosedAt, last_closed_at: lastClosedAt, first_replied_at: firstRepliedAt,\n    last_rating_updated_at: lastRatingUpdatedAt, fin_ai_rating_updated_at: finAiRatingUpdatedAt,\n    last_teammate_rating: lastTeammateRating, last_teammate_rating_remark: lastTeammateRatingRemark,\n    first_response_time_seconds: firstResponseTimeSeconds, time_to_first_assignment_seconds: timeToFirstAssignmentSeconds,\n    number_of_reassignments: numberOfReassignments, handling_time_seconds: handlingTimeSeconds,\n    time_to_close_seconds: timeToCloseSeconds, teammate_replies: teammateReplies,\n    user_replies: userReplies, replies_to_close: repliesToClose,\n    first_closed_by: firstClosedBy, last_closed_by: lastClosedBy, teammate_replied_to: teammateRepliedTo,\n    country, continent, user_type: userType, user_name: userName, user_email: userEmail,\n    cx_score_rating: cxScoreRating, cx_score_explanation: cxScoreExplanation, copilot_used: copilotUsed,\n    last_chatbot_rating_updated_at: lastChatbotRatingUpdatedAt, last_chatbot_rating: lastChatbotRating,\n    last_chatbot_rating_remark: lastChatbotRatingRemark, last_chatbot_rated: lastChatbotRated\n  } }];\n} catch (err) { throw new Error(`Format failed for ${convo?.id}: ${err.message}`); }\nfunction stripHtml(html) {\n  if (!html) return '';\n  return html\n    .replace(/<br\\s*\\/?>/gi, '\\n')\n    .replace(/<p>/gi, '')\n    .replace(/<\\/p>/gi, '\\n')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&amp;/g, '&')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&#39;/g, \"'\")\n    .replace(/&nbsp;/g, ' ')\n    .trim();\n}"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Format Transcript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        288
      ]
    },
    {
      "parameters": {
        "url": "=https://mxhfmqhniphzgmbqkymh.supabase.co/rest/v1/qa_conversations?conversation_id=eq.{{ encodeURIComponent($json.conversation_id) }}&select=conversation_id&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Check If Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1648,
        288
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || [];\nconst exists = Array.isArray(body) && body.length > 0;\nconst formatData = $('Format Transcript').item.json;\nreturn [{ json: { ...formatData, _exists: exists } }];"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Route New vs Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        288
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "dup-check",
              "leftValue": "={{ $json._exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2080,
        288
      ]
    },
    {
      "parameters": {
        "tableId": "qa_conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "player_id",
              "fieldValue": "={{ $json.player_id }}"
            },
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "intercom_link",
              "fieldValue": "={{ $json.intercom_link }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": "={{ $json.is_bot_handled }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            },
            {
              "fieldId": "initiator_type",
              "fieldValue": "={{ $json.initiator_type }}"
            },
            {
              "fieldId": "started_by",
              "fieldValue": "={{ $json.started_by }}"
            },
            {
              "fieldId": "team_assigned",
              "fieldValue": "={{ $json.team_assigned }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "first_closed_at",
              "fieldValue": "={{ $json.first_closed_at }}"
            },
            {
              "fieldId": "last_closed_at",
              "fieldValue": "={{ $json.last_closed_at }}"
            },
            {
              "fieldId": "first_replied_at",
              "fieldValue": "={{ $json.first_replied_at }}"
            },
            {
              "fieldId": "last_rating_updated_at",
              "fieldValue": "={{ $json.last_rating_updated_at }}"
            },
            {
              "fieldId": "fin_ai_rating_updated_at",
              "fieldValue": "={{ $json.fin_ai_rating_updated_at }}"
            },
            {
              "fieldId": "last_teammate_rating",
              "fieldValue": "={{ $json.last_teammate_rating }}"
            },
            {
              "fieldId": "last_teammate_rating_remark",
              "fieldValue": "={{ $json.last_teammate_rating_remark }}"
            },
            {
              "fieldId": "first_response_time_seconds",
              "fieldValue": "={{ $json.first_response_time_seconds }}"
            },
            {
              "fieldId": "time_to_first_assignment_seconds",
              "fieldValue": "={{ $json.time_to_first_assignment_seconds }}"
            },
            {
              "fieldId": "number_of_reassignments",
              "fieldValue": "={{ $json.number_of_reassignments }}"
            },
            {
              "fieldId": "handling_time_seconds",
              "fieldValue": "={{ $json.handling_time_seconds }}"
            },
            {
              "fieldId": "time_to_close_seconds",
              "fieldValue": "={{ $json.time_to_close_seconds }}"
            },
            {
              "fieldId": "teammate_replies",
              "fieldValue": "={{ $json.teammate_replies }}"
            },
            {
              "fieldId": "user_replies",
              "fieldValue": "={{ $json.user_replies }}"
            },
            {
              "fieldId": "replies_to_close",
              "fieldValue": "={{ $json.replies_to_close }}"
            },
            {
              "fieldId": "first_closed_by",
              "fieldValue": "={{ $json.first_closed_by }}"
            },
            {
              "fieldId": "last_closed_by",
              "fieldValue": "={{ $json.last_closed_by }}"
            },
            {
              "fieldId": "teammate_replied_to",
              "fieldValue": "={{ $json.teammate_replied_to }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "continent",
              "fieldValue": "={{ $json.continent }}"
            },
            {
              "fieldId": "user_type",
              "fieldValue": "={{ $json.user_type }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $json.user_name }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.user_email }}"
            },
            {
              "fieldId": "cx_score_rating",
              "fieldValue": "={{ $json.cx_score_rating }}"
            },
            {
              "fieldId": "cx_score_explanation",
              "fieldValue": "={{ $json.cx_score_explanation }}"
            },
            {
              "fieldId": "copilot_used",
              "fieldValue": "={{ $json.copilot_used }}"
            },
            {
              "fieldId": "last_chatbot_rating_updated_at",
              "fieldValue": "={{ $json.last_chatbot_rating_updated_at }}"
            },
            {
              "fieldId": "last_chatbot_rating",
              "fieldValue": "={{ $json.last_chatbot_rating }}"
            },
            {
              "fieldId": "last_chatbot_rating_remark",
              "fieldValue": "={{ $json.last_chatbot_rating_remark }}"
            },
            {
              "fieldId": "last_chatbot_rated",
              "fieldValue": "={{ $json.last_chatbot_rated }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Insert Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qa_conversations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $json.conversation_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": "={{ $json.is_bot_handled }}"
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            },
            {
              "fieldId": "initiator_type",
              "fieldValue": "={{ $json.initiator_type }}"
            },
            {
              "fieldId": "started_by",
              "fieldValue": "={{ $json.started_by }}"
            },
            {
              "fieldId": "team_assigned",
              "fieldValue": "={{ $json.team_assigned }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "first_closed_at",
              "fieldValue": "={{ $json.first_closed_at }}"
            },
            {
              "fieldId": "last_closed_at",
              "fieldValue": "={{ $json.last_closed_at }}"
            },
            {
              "fieldId": "first_replied_at",
              "fieldValue": "={{ $json.first_replied_at }}"
            },
            {
              "fieldId": "last_rating_updated_at",
              "fieldValue": "={{ $json.last_rating_updated_at }}"
            },
            {
              "fieldId": "fin_ai_rating_updated_at",
              "fieldValue": "={{ $json.fin_ai_rating_updated_at }}"
            },
            {
              "fieldId": "last_teammate_rating",
              "fieldValue": "={{ $json.last_teammate_rating }}"
            },
            {
              "fieldId": "last_teammate_rating_remark",
              "fieldValue": "={{ $json.last_teammate_rating_remark }}"
            },
            {
              "fieldId": "first_response_time_seconds",
              "fieldValue": "={{ $json.first_response_time_seconds }}"
            },
            {
              "fieldId": "time_to_first_assignment_seconds",
              "fieldValue": "={{ $json.time_to_first_assignment_seconds }}"
            },
            {
              "fieldId": "number_of_reassignments",
              "fieldValue": "={{ $json.number_of_reassignments }}"
            },
            {
              "fieldId": "handling_time_seconds",
              "fieldValue": "={{ $json.handling_time_seconds }}"
            },
            {
              "fieldId": "time_to_close_seconds",
              "fieldValue": "={{ $json.time_to_close_seconds }}"
            },
            {
              "fieldId": "teammate_replies",
              "fieldValue": "={{ $json.teammate_replies }}"
            },
            {
              "fieldId": "user_replies",
              "fieldValue": "={{ $json.user_replies }}"
            },
            {
              "fieldId": "replies_to_close",
              "fieldValue": "={{ $json.replies_to_close }}"
            },
            {
              "fieldId": "first_closed_by",
              "fieldValue": "={{ $json.first_closed_by }}"
            },
            {
              "fieldId": "last_closed_by",
              "fieldValue": "={{ $json.last_closed_by }}"
            },
            {
              "fieldId": "teammate_replied_to",
              "fieldValue": "={{ $json.teammate_replied_to }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "continent",
              "fieldValue": "={{ $json.continent }}"
            },
            {
              "fieldId": "user_type",
              "fieldValue": "={{ $json.user_type }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $json.user_name }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.user_email }}"
            },
            {
              "fieldId": "cx_score_rating",
              "fieldValue": "={{ $json.cx_score_rating }}"
            },
            {
              "fieldId": "cx_score_explanation",
              "fieldValue": "={{ $json.cx_score_explanation }}"
            },
            {
              "fieldId": "copilot_used",
              "fieldValue": "={{ $json.copilot_used }}"
            },
            {
              "fieldId": "last_chatbot_rating_updated_at",
              "fieldValue": "={{ $json.last_chatbot_rating_updated_at }}"
            },
            {
              "fieldId": "last_chatbot_rating",
              "fieldValue": "={{ $json.last_chatbot_rating }}"
            },
            {
              "fieldId": "last_chatbot_rating_remark",
              "fieldValue": "={{ $json.last_chatbot_rating_remark }}"
            },
            {
              "fieldId": "last_chatbot_rated",
              "fieldValue": "={{ $json.last_chatbot_rated }}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Update Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2304,
        384
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "amount": 0.2
      },
      "id": "a1b2c3d4-0001-0001-0001-wait400msnode",
      "name": "Wait 400ms",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1008,
        288
      ],
      "webhookId": "50b33ad5-8b6e-46bf-a226-03ab6e3b0b27"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bot-check",
              "leftValue": "={{ $json.is_bot_handled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf1-agent-or-bot-001",
      "name": "Agent or Bot?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1648,
        32
      ]
    },
    {
      "parameters": {
        "url": "=https://mxhfmqhniphzgmbqkymh.supabase.co/rest/v1/qa_bot_conversations?conversation_id=eq.{{ encodeURIComponent($json.conversation_id) }}&select=conversation_id&limit=1",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true
            }
          }
        }
      },
      "id": "wf1-check-bot-exists-001",
      "name": "Check If Bot Exists",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1872,
        16
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || [];\nconst exists = Array.isArray(body) && body.length > 0;\nconst formatData = $('Format Transcript').item.json;\nreturn [{ json: { ...formatData, _exists: exists } }];"
      },
      "id": "wf1-route-bot-001",
      "name": "Route Bot New vs Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2096,
        16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "bot-dup-check",
              "leftValue": "={{ $json._exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "wf1-check-bot-dup-001",
      "name": "Check Bot Duplicate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2320,
        16
      ]
    },
    {
      "parameters": {
        "tableId": "qa_bot_conversations",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "conversation_id",
              "fieldValue": "={{ $json.conversation_id }}"
            },
            {
              "fieldId": "player_id",
              "fieldValue": "={{ $json.player_id }}"
            },
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "created_at",
              "fieldValue": "={{ $json.created_at }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "intercom_link",
              "fieldValue": "={{ $json.intercom_link }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": true
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            },
            {
              "fieldId": "initiator_type",
              "fieldValue": "={{ $json.initiator_type }}"
            },
            {
              "fieldId": "started_by",
              "fieldValue": "={{ $json.started_by }}"
            },
            {
              "fieldId": "team_assigned",
              "fieldValue": "={{ $json.team_assigned }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "first_closed_at",
              "fieldValue": "={{ $json.first_closed_at }}"
            },
            {
              "fieldId": "last_closed_at",
              "fieldValue": "={{ $json.last_closed_at }}"
            },
            {
              "fieldId": "first_replied_at",
              "fieldValue": "={{ $json.first_replied_at }}"
            },
            {
              "fieldId": "last_rating_updated_at",
              "fieldValue": "={{ $json.last_rating_updated_at }}"
            },
            {
              "fieldId": "fin_ai_rating_updated_at",
              "fieldValue": "={{ $json.fin_ai_rating_updated_at }}"
            },
            {
              "fieldId": "last_teammate_rating",
              "fieldValue": "={{ $json.last_teammate_rating }}"
            },
            {
              "fieldId": "last_teammate_rating_remark",
              "fieldValue": "={{ $json.last_teammate_rating_remark }}"
            },
            {
              "fieldId": "first_response_time_seconds",
              "fieldValue": "={{ $json.first_response_time_seconds }}"
            },
            {
              "fieldId": "time_to_first_assignment_seconds",
              "fieldValue": "={{ $json.time_to_first_assignment_seconds }}"
            },
            {
              "fieldId": "number_of_reassignments",
              "fieldValue": "={{ $json.number_of_reassignments }}"
            },
            {
              "fieldId": "handling_time_seconds",
              "fieldValue": "={{ $json.handling_time_seconds }}"
            },
            {
              "fieldId": "time_to_close_seconds",
              "fieldValue": "={{ $json.time_to_close_seconds }}"
            },
            {
              "fieldId": "teammate_replies",
              "fieldValue": "={{ $json.teammate_replies }}"
            },
            {
              "fieldId": "user_replies",
              "fieldValue": "={{ $json.user_replies }}"
            },
            {
              "fieldId": "replies_to_close",
              "fieldValue": "={{ $json.replies_to_close }}"
            },
            {
              "fieldId": "first_closed_by",
              "fieldValue": "={{ $json.first_closed_by }}"
            },
            {
              "fieldId": "last_closed_by",
              "fieldValue": "={{ $json.last_closed_by }}"
            },
            {
              "fieldId": "teammate_replied_to",
              "fieldValue": "={{ $json.teammate_replied_to }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "continent",
              "fieldValue": "={{ $json.continent }}"
            },
            {
              "fieldId": "user_type",
              "fieldValue": "={{ $json.user_type }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $json.user_name }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.user_email }}"
            },
            {
              "fieldId": "cx_score_rating",
              "fieldValue": "={{ $json.cx_score_rating }}"
            },
            {
              "fieldId": "cx_score_explanation",
              "fieldValue": "={{ $json.cx_score_explanation }}"
            },
            {
              "fieldId": "copilot_used",
              "fieldValue": "={{ $json.copilot_used }}"
            },
            {
              "fieldId": "last_chatbot_rating_updated_at",
              "fieldValue": "={{ $json.last_chatbot_rating_updated_at }}"
            },
            {
              "fieldId": "last_chatbot_rating",
              "fieldValue": "={{ $json.last_chatbot_rating }}"
            },
            {
              "fieldId": "last_chatbot_rating_remark",
              "fieldValue": "={{ $json.last_chatbot_rating_remark }}"
            },
            {
              "fieldId": "last_chatbot_rated",
              "fieldValue": "={{ $json.last_chatbot_rated }}"
            }
          ]
        }
      },
      "id": "wf1-insert-bot-001",
      "name": "Insert Bot Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "qa_bot_conversations",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "conversation_id",
              "condition": "eq",
              "keyValue": "={{ $json.conversation_id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "agent_name",
              "fieldValue": "={{ $json.agent_name }}"
            },
            {
              "fieldId": "transcript",
              "fieldValue": "={{ $json.transcript }}"
            },
            {
              "fieldId": "tags",
              "fieldValue": "={{ $json.tags }}"
            },
            {
              "fieldId": "status",
              "fieldValue": "={{ $json.status }}"
            },
            {
              "fieldId": "collected_at",
              "fieldValue": "={{ $json.collected_at }}"
            },
            {
              "fieldId": "is_bot_handled",
              "fieldValue": true
            },
            {
              "fieldId": "channel",
              "fieldValue": "={{ $json.channel }}"
            },
            {
              "fieldId": "source_url",
              "fieldValue": "={{ $json.source_url }}"
            },
            {
              "fieldId": "initiator_type",
              "fieldValue": "={{ $json.initiator_type }}"
            },
            {
              "fieldId": "started_by",
              "fieldValue": "={{ $json.started_by }}"
            },
            {
              "fieldId": "team_assigned",
              "fieldValue": "={{ $json.team_assigned }}"
            },
            {
              "fieldId": "priority",
              "fieldValue": "={{ $json.priority }}"
            },
            {
              "fieldId": "first_closed_at",
              "fieldValue": "={{ $json.first_closed_at }}"
            },
            {
              "fieldId": "last_closed_at",
              "fieldValue": "={{ $json.last_closed_at }}"
            },
            {
              "fieldId": "first_replied_at",
              "fieldValue": "={{ $json.first_replied_at }}"
            },
            {
              "fieldId": "last_rating_updated_at",
              "fieldValue": "={{ $json.last_rating_updated_at }}"
            },
            {
              "fieldId": "fin_ai_rating_updated_at",
              "fieldValue": "={{ $json.fin_ai_rating_updated_at }}"
            },
            {
              "fieldId": "last_teammate_rating",
              "fieldValue": "={{ $json.last_teammate_rating }}"
            },
            {
              "fieldId": "last_teammate_rating_remark",
              "fieldValue": "={{ $json.last_teammate_rating_remark }}"
            },
            {
              "fieldId": "first_response_time_seconds",
              "fieldValue": "={{ $json.first_response_time_seconds }}"
            },
            {
              "fieldId": "time_to_first_assignment_seconds",
              "fieldValue": "={{ $json.time_to_first_assignment_seconds }}"
            },
            {
              "fieldId": "number_of_reassignments",
              "fieldValue": "={{ $json.number_of_reassignments }}"
            },
            {
              "fieldId": "handling_time_seconds",
              "fieldValue": "={{ $json.handling_time_seconds }}"
            },
            {
              "fieldId": "time_to_close_seconds",
              "fieldValue": "={{ $json.time_to_close_seconds }}"
            },
            {
              "fieldId": "teammate_replies",
              "fieldValue": "={{ $json.teammate_replies }}"
            },
            {
              "fieldId": "user_replies",
              "fieldValue": "={{ $json.user_replies }}"
            },
            {
              "fieldId": "replies_to_close",
              "fieldValue": "={{ $json.replies_to_close }}"
            },
            {
              "fieldId": "first_closed_by",
              "fieldValue": "={{ $json.first_closed_by }}"
            },
            {
              "fieldId": "last_closed_by",
              "fieldValue": "={{ $json.last_closed_by }}"
            },
            {
              "fieldId": "teammate_replied_to",
              "fieldValue": "={{ $json.teammate_replied_to }}"
            },
            {
              "fieldId": "country",
              "fieldValue": "={{ $json.country }}"
            },
            {
              "fieldId": "continent",
              "fieldValue": "={{ $json.continent }}"
            },
            {
              "fieldId": "user_type",
              "fieldValue": "={{ $json.user_type }}"
            },
            {
              "fieldId": "user_name",
              "fieldValue": "={{ $json.user_name }}"
            },
            {
              "fieldId": "user_email",
              "fieldValue": "={{ $json.user_email }}"
            },
            {
              "fieldId": "cx_score_rating",
              "fieldValue": "={{ $json.cx_score_rating }}"
            },
            {
              "fieldId": "cx_score_explanation",
              "fieldValue": "={{ $json.cx_score_explanation }}"
            },
            {
              "fieldId": "copilot_used",
              "fieldValue": "={{ $json.copilot_used }}"
            },
            {
              "fieldId": "last_chatbot_rating_updated_at",
              "fieldValue": "={{ $json.last_chatbot_rating_updated_at }}"
            },
            {
              "fieldId": "last_chatbot_rating",
              "fieldValue": "={{ $json.last_chatbot_rating }}"
            },
            {
              "fieldId": "last_chatbot_rating_remark",
              "fieldValue": "={{ $json.last_chatbot_rating_remark }}"
            },
            {
              "fieldId": "last_chatbot_rated",
              "fieldValue": "={{ $json.last_chatbot_rated }}"
            }
          ]
        }
      },
      "id": "wf1-update-bot-001",
      "name": "Update Bot Conversation",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2544,
        192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "48UlSg2STuVckZm2",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "id": "wf1-skip-recovery-001",
      "name": "Skip Recovery Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1512,
        160
      ],
      "parameters": {
        "jsCode": "// Guard: Skip synthetic n8n recovery items produced during loop error recovery.\n// These items have no real conversation data and will crash the Agent or Bot? IF node.\nconst item = $input.first().json;\nif (item.isArtificialRecoveredEventItem === true) {\n  return [];\n}\nreturn [{ json: item }];"
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Fetch Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Conversations": {
      "main": [
        [
          {
            "node": "Tag All Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag All Conversations": {
      "main": [
        [
          {
            "node": "Has Conversations?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Conversations?": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alert Zero Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 400ms": {
      "main": [
        [
          {
            "node": "Get Full Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Full Conversation": {
      "main": [
        [
          {
            "node": "Format Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Exists": {
      "main": [
        [
          {
            "node": "Route New vs Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route New vs Existing": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Insert Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Conversations": {
      "main": [
        [],
        [
          {
            "node": "Wait 400ms",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent or Bot?": {
      "main": [
        [
          {
            "node": "Check If Bot Exists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check If Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Bot Exists": {
      "main": [
        [
          {
            "node": "Route Bot New vs Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Bot New vs Existing": {
      "main": [
        [
          {
            "node": "Check Bot Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Bot Duplicate": {
      "main": [
        [
          {
            "node": "Insert Bot Conversation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Bot Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Bot Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Bot Conversation": {
      "main": [
        [
          {
            "node": "Split Conversations",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Transcript": {
      "main": [
        [
          {
            "node": "Skip Recovery Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip Recovery Items": {
      "main": [
        [
          {
            "node": "Agent or Bot?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "tags": []
}