workflows/wf6-pattern-detection.json
{
  "name": "WF6 - 7-Day Rolling Pattern Detection",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{"field": "cronExpression", "expression": "0 8 * * *"}]
        }
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "analysis_results",
        "returnAll": true,
        "filters": {
          "values": [
            {
              "keyName": "analyzed_at",
              "condition": "gte",
              "keyValue": "={{ new Date(Date.now() - 7 * 86400000).toISOString() }}"
            }
          ]
        }
      },
      "credentials": {"supabaseApi": {"id": "supabase_api", "name": "Supabase"}},
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Read Analysis Results",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [320, 300]
    },
    {
      "parameters": {
        "jsCode": "const rows = $input.all().map(item => item.json);\nconst today = new Date();\nconst todayStr = today.toISOString().split('T')[0];\nconst weekStartDate = new Date(today);\nweekStartDate.setDate(today.getDate() - 6);\nconst weekStartStr = weekStartDate.toISOString().split('T')[0];\n\n// Filter to last 7 days\nconst sevenDaysAgo = new Date(today);\nsevenDaysAgo.setDate(today.getDate() - 6);\nconst filtered = rows.filter(row => {\n  const date = (row.analyzed_at || row[13] || '').split('T')[0];\n  return date >= weekStartStr && date <= todayStr;\n});\n\nconst byDateCategory = {};\nconst playerComplaints = {};\nconst agentScores = {};\n\nfor (const row of filtered) {\n  const analyzedAt = row.analyzed_at || row[13] || '';\n  const date = analyzedAt.split('T')[0];\n  const category = row.issue_category || row[5] || 'Other';\n  const playerId = row.player_id || row[1] || '';\n  const agentName = row.agent_name || row[2] || '';\n  const agentScore = parseInt(row.agent_score || row[8] || 3, 10);\n\n  if (!byDateCategory[date]) byDateCategory[date] = {};\n  byDateCategory[date][category] = (byDateCategory[date][category] || 0) + 1;\n\n  if (playerId) playerComplaints[playerId] = (playerComplaints[playerId] || 0) + 1;\n\n  if (agentName) {\n    if (!agentScores[agentName]) agentScores[agentName] = { total: 0, count: 0, flagged: 0 };\n    agentScores[agentName].total += agentScore;\n    agentScores[agentName].count++;\n    if (agentScore <= 2) agentScores[agentName].flagged++;\n  }\n}\n\nconst allCategories = new Set();\nObject.values(byDateCategory).forEach(dayCats => Object.keys(dayCats).forEach(cat => allCategories.add(cat)));\n\nconst topIssues = [];\nconst anomalies = [];\n\nfor (const category of allCategories) {\n  const dailyCounts = [];\n  for (let i = 6; i >= 0; i--) {\n    const d = new Date(today);\n    d.setDate(today.getDate() - i);\n    const dStr = d.toISOString().split('T')[0];\n    dailyCounts.push(byDateCategory[dStr]?.[category] || 0);\n  }\n  const total7d = dailyCounts.reduce((sum, c) => sum + c, 0);\n  const avg7d = total7d / 7;\n  const todayCount = dailyCounts[6];\n  const pctChange = avg7d > 0 ? Math.round(((todayCount - avg7d) / avg7d) * 100) : 0;\n  topIssues.push({ category, count: total7d, today_count: todayCount, daily_avg: Math.round(avg7d * 10) / 10, pct_change: pctChange });\n  if (avg7d > 0 && todayCount > avg7d * 1.5) anomalies.push({ category, today_count: todayCount, daily_avg: Math.round(avg7d * 10) / 10, spike_pct: pctChange });\n}\n\ntopIssues.sort((a, b) => b.count - a.count);\n\nconst repeatComplainers = Object.entries(playerComplaints).filter(([, c]) => c >= 3).map(([playerId, count]) => ({ player_id: playerId, complaint_count: count })).sort((a, b) => b.complaint_count - a.complaint_count);\n\nconst agentFlags = Object.entries(agentScores).map(([name, data]) => ({ agent_name: name, avg_score: Math.round((data.total / data.count) * 10) / 10, conversation_count: data.count, flag_rate: Math.round((data.flagged / data.count) * 100) })).filter(a => a.flag_rate > 20 || a.avg_score < 3).sort((a, b) => a.avg_score - b.avg_score);\n\nreturn [{ json: { week_start: weekStartStr, week_end: todayStr, top_issues_json: JSON.stringify(topIssues), anomalies_json: JSON.stringify(anomalies), repeat_complainers: repeatComplainers.length, repeat_complainers_detail: repeatComplainers, agent_flags_json: JSON.stringify(agentFlags), has_anomalies: anomalies.length > 0, total_rows: filtered.length } }];"
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Calculate Trends",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [540, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict"},
          "conditions": [
            {
              "id": "anomaly-check",
              "leftValue": "={{ $json.has_anomalies }}",
              "rightValue": true,
              "operator": {"type": "boolean", "operation": "true"}
            }
          ],
          "combinator": "and"
        }
      },
      "id": "d4e5f6a7-b8c9-0123-defa-234567890123",
      "name": "Any Anomalies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [760, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-6\",\n  \"max_tokens\": 2048,\n  \"system\": \"You are a senior QA analyst for an iGaming customer support operation. Analyze 7-day rolling window data and generate a trend report.\\n\\nWrite two sections:\\n\\nTREND SUMMARY\\n3-5 sentences describing what is happening: significant spikes, trending categories, repeat complainers, agent issues.\\n\\nRECOMMENDATIONS\\n1. [specific action + owner + expected outcome]\\n2. [specific action]\\n3. [specific action]\\n\\nBe specific and data-driven. No generic advice.\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Week: {{ $json.week_start }} to {{ $json.week_end }}\\n\\nTop Issues (7-day):\\n{{ $json.top_issues_json }}\\n\\nAnomalies (spiking >150% of average):\\n{{ $json.anomalies_json }}\\n\\nRepeat Complainers (3+ in 7 days): {{ $json.repeat_complainers }}\\n\\nAgent Flags:\\n{{ $json.agent_flags_json }}\"\n    }\n  ]\n}",
        "options": {
          "retry": {"enabled": true, "maxTries": 3},
          "headers": {
            "parameters": [{"name": "anthropic-version", "value": "2023-06-01"}]
          }
        }
      },
      "id": "e5f6a7b8-c9d0-1234-efab-345678901234",
      "name": "Generate Trend Summary (Claude)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [980, 200],
      "credentials": {"httpHeaderAuth": {"id": "anthropic_api", "name": "Anthropic API"}}
    },
    {
      "parameters": {
        "jsCode": "const claudeResponse = $input.first().json;\nconst trendData = $('Calculate Trends').first().json;\nconst content = claudeResponse.content?.[0]?.text || 'No trend summary generated';\nconst parts = content.split('RECOMMENDATIONS');\nconst trendSummary = parts[0].replace('TREND SUMMARY', '').trim();\nconst recommendations = parts[1] ? parts[1].trim() : '';\nreturn [{ json: { week_start: trendData.week_start, week_end: trendData.week_end, top_issues_json: trendData.top_issues_json, anomalies_json: trendData.anomalies_json, repeat_complainers: trendData.repeat_complainers, trend_summary: trendSummary, recommendations, has_anomalies: trendData.has_anomalies } }];"
      },
      "id": "f6a7b8c9-d0e1-2345-fabc-456789012345",
      "name": "Parse Trend Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 200]
    },
    {
      "parameters": {
        "jsCode": "const trendData = $('Calculate Trends').first().json;\nconst anomalies = JSON.parse(trendData.anomalies_json || '[]');\nconst anomalyText = anomalies.length > 0 ? anomalies.map(a => `\u2022 *${a.category}*: ${a.today_count} today vs ${a.daily_avg} avg (+${a.spike_pct}%)`).join('\\n') : '_No anomalies_';\nconst blocks = [{ type: 'header', text: { type: 'plain_text', text: ':chart_with_upwards_trend: 7-Day QA Trend Report', emoji: true } }, { type: 'section', text: { type: 'mrkdwn', text: `*Period:* ${trendData.week_start} -> ${trendData.week_end} | *Anomalies:* ${anomalies.length} | *Repeat Complainers:* ${trendData.repeat_complainers}` } }, { type: 'section', text: { type: 'mrkdwn', text: `*Spiking Categories:*\\n${anomalyText}` } }, { type: 'context', elements: [{ type: 'mrkdwn', text: 'Full trend analysis stored in weekly_trends table' }] }];\nconst input = $input.first().json;\nreturn [{ json: { blocks, text: `7-Day QA Trends: ${anomalies.length} anomalies detected. Repeat complainers: ${trendData.repeat_complainers}`, trend_data: trendData, trend_summary: input.trend_summary || '', recommendations: input.recommendations || '' } }];"
      },
      "id": "a7b8c9d0-e1f2-3456-abcd-567890123456",
      "name": "Build Slack Trend Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 400]
    },
    {
      "parameters": {
        "operation": "post",
        "channel": "={{ $env.SLACK_CHANNEL_TRENDS }}",
        "text": "={{ $json.text }}",
        "blocksUi": "={{ JSON.stringify($json.blocks) }}",
        "otherOptions": {}
      },
      "id": "b8c9d0e1-f2a3-4567-bcde-678901234567",
      "name": "Post to Slack Trends",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1420, 300],
      "credentials": {"slackApi": {"id": "slack_api", "name": "slack_api"}}
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "weekly_trends",
        "fieldsUi": {
          "fieldValues": [
            {"fieldId": "week_start", "fieldValue": "={{ $('Calculate Trends').first().json.week_start }}"},
            {"fieldId": "week_end", "fieldValue": "={{ $('Calculate Trends').first().json.week_end }}"},
            {"fieldId": "top_issues_json", "fieldValue": "={{ $('Calculate Trends').first().json.top_issues_json }}"},
            {"fieldId": "anomalies_json", "fieldValue": "={{ $('Calculate Trends').first().json.anomalies_json }}"},
            {"fieldId": "repeat_complainers", "fieldValue": "={{ $('Calculate Trends').first().json.repeat_complainers }}"},
            {"fieldId": "trend_summary", "fieldValue": "={{ $json.trend_summary || 'No anomalies - no AI summary generated' }}"},
            {"fieldId": "recommendations", "fieldValue": "={{ $json.recommendations || '' }}"}
          ]
        }
      },
      "credentials": {"supabaseApi": {"id": "supabase_api", "name": "Supabase"}},
      "id": "c9d0e1f2-a3b4-5678-cdef-789012345678",
      "name": "Log to Weekly Trends",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1640, 300]
    },
    {
      "parameters": {},
      "id": "d0e1f2a3-b4c5-6789-defa-890123456789",
      "name": "No Anomalies - Log Only",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [980, 400]
    },
    {
      "parameters": {
        "jsCode": "const trendData = $('Calculate Trends').first().json;\nreturn [{ json: { ...trendData, trend_summary: 'No anomalies detected this week.', recommendations: '' } }];"
      },
      "id": "e1f2a3b4-c5d6-7890-efab-901234567890",
      "name": "Set No-Anomaly Defaults",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1200, 500]
    }
  ],
  "connections": {
    "Schedule Trigger": {"main": [[{"node": "Read Analysis Results", "type": "main", "index": 0}]]},
    "Read Analysis Results": {"main": [[{"node": "Calculate Trends", "type": "main", "index": 0}]]},
    "Calculate Trends": {"main": [[{"node": "Any Anomalies?", "type": "main", "index": 0}]]},
    "Any Anomalies?": {
      "main": [
        [{"node": "Generate Trend Summary (Claude)", "type": "main", "index": 0}],
        [{"node": "No Anomalies - Log Only", "type": "main", "index": 0}]
      ]
    },
    "Generate Trend Summary (Claude)": {"main": [[{"node": "Parse Trend Response", "type": "main", "index": 0}]]},
    "Parse Trend Response": {"main": [[{"node": "Build Slack Trend Message", "type": "main", "index": 0}]]},
    "No Anomalies - Log Only": {"main": [[{"node": "Set No-Anomaly Defaults", "type": "main", "index": 0}]]},
    "Set No-Anomaly Defaults": {"main": [[{"node": "Log to Weekly Trends", "type": "main", "index": 0}]]},
    "Build Slack Trend Message": {"main": [[{"node": "Post to Slack Trends", "type": "main", "index": 0}]]},
    "Post to Slack Trends": {"main": [[{"node": "Log to Weekly Trends", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "id": "wf6-pattern-detection"
}
